.clang
.codelite/
_codelite.project
__codelite.workspace
~$*.docx
.project
*.o
*.bin
*.elf
*.ld
*.map
*.hex
*.lss
*.lst
*.exe
*.pdf
*.html
*.aux
tex2pdf*/
_dummy.jpg
bmptk_*_stack.c
_push.bat
html
latex

